/* Defining Basics */

:root {
    --background: #e2e8f0;
    --accent: #F0B13E;
    --text:#142544;
}

body {
    font-family: "Space Grotesk", sans-serif;
}

h1, h2, h3 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
}



/* Navbar */ 
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
}

.nav-socials {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin-right: 20px;
}

.navbar .logo img {
    height: 50px;
}

.navbar a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--accent);
}

@media (max-width: 768px) {
    .nav-socials {
        display: none;
    }
}



/* Hero */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    padding: 60px 8%;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.65), var(--text)),
        url('assets/qubits.gif');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--background);
    overflow: hidden;
}

.hero-content {
    flex: 0 1 700px;
    text-align: center;
}

.hero h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 4rem;
    line-height: 0.98;
    font-weight: 600;
    margin: 0;
}

.hero p {
    font-family: "Quantico", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--accent);
    margin: 25px 0 0;
    text-align: center;
}

.hero-image {
    flex: 0 0 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 50px 6%;
    }

    .hero-image {
        display: flex;
        flex: 0 0 auto;
    }

    .hero-image img {
        width: 220px;
        height: auto;
    }

    .hero-content {
        flex: 0 1 auto;
        width: 100%;
    }

    .hero h1 {
        font-size: 2.5rem;
        line-height: 1.05;
    }

    .hero p {
        font-size: 1.2rem;
        margin-top: 20px;
    }
}



/* About Section */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8%;
    background: #ffffff;
    color: #111111;
    gap: 5rem;
}

.about-label {
    font-family: "Quantico", sans-serif;
    font-size: 1.5rem;
    line-height: 2;
    letter-spacing: 0.15em;
    color: var(--accent);
}

.about-content {
    max-width: 700px;
}

.about h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 2.6rem;
    line-height: 1.05;
    font-weight: 500;
    margin: 0 0 1.5rem;
}

.about p {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    line-height: 1.7;

    color: var(--text);
    max-width: 600px;
}

.about-link {
    background-color: #F0B13E;
    padding: 5px;
    border-radius: 10%;
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    margin-top: 1rem;
    font-family: "Space Grotesk", sans-serif;
    color: #111;
    text-decoration: none;
    font-weight: 500;
}

.about-link:hover {
    gap: 1rem;
}


@media (max-width: 768px) {
    .about-label {
        display: none;
    }
}



/* Highlights */
.club-highlights {
    padding: 2rem 4%;
    background: var(--text);
    color: var(--background);
    gap: 3rem;
}

.marquee-container{
    overflow: hidden;
    padding: 20px 0;
}
.marquee-content {
    display: flex;
    width: max-content;
    animation: marquee 35s linear infinite;
    will-change: transform;
}
.marquee-track {
    display: flex;
    align-items: center;
    gap: 40px;
    white-space: nowrap;
    font-size: 18px;
    color: var(--white);
    padding-right: 40px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


/* What the Club Offers */

.offerss {
    padding: 4rem 8%;
    background: #ffffff;
}

.offerss h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 2.6rem;
    font-weight: 500;
    margin: 0 0 2rem;
    color: black;
}

.link {
    text-decoration: none;
    color: black;
}

.offer-container {
    display: flex;
    gap: 2rem;
}

.offer-card {
    flex: 1;
    overflow: hidden;
    background: var(--backgorund);
    border-radius: 8px;
    border: 2px dashed #2a2a2a;;
    transition: transform 0.2s ease;
}

.offer-card:hover {
    transform: translateY(-5px);
}

.offer-card img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.offer-content {
    padding: 1.5rem;
}

.offer-content h3 {
    font-family: "Quantico", sans-serif;
    font-size: 1.5rem;
    margin: 0 0 0.75rem;
    color: var(--accent);
}

.offer-content p {
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.6;
    color: var(--text);
    margin: 0;
}



/* Contact */

.get-in-touch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    padding: 3rem 12%;
    background: var(--background);
    color: var(--text);
}

.contact-heading{
    flex: 1.3;
}

.contact-heading span {
    font-family: "Quantico", sans-serif;
    font-size: 0.95rem;
    letter-spacing: 0.15em;
}

.contact-heading h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 3.4rem;
    font-weight: 600;
    margin: 0.75rem 0 0;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}

.contact-detail {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.contact-detail i {
    font-size: 1.5rem;
    margin-top: 0.2rem;
    color: var(--accent);
}

.contact-detail h3 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    margin: 0 0 0.4rem;
    color: black;
}

.contact-detail p, .contact-detail a{
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.5;
    text-decoration: none;
}



/* Footer */

footer {
    background: var(--text);
    font-family: "Space Grotesk", sans-serif;
    font-size: 0.85rem;
    text-align: center;
    padding-bottom: 2rem;
    overflow: hidden;
}

footer hr {
    border-top: 1px solid #2a2a2a;
    margin: 0 0 1.5rem;
}

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.footer-socials a {
    color: var(--background);
    font-size: 1.25rem;
    text-decoration: none;
    transition: color 0.2s ease, transform 0.2s ease;
}

.footer-socials a:hover {
    color: var(--accent);
    transform: translateY(-3px);
}

.copyr{
    color: var(--background);
}



/* EVENTS PAGE */

/* HEADER */
/* Other Page Header */

.other-page-header {
    min-height: 15vh;
    padding: 3rem 12%;
    background: var(--text);
    color: var(--background);
}

.other-page-header h1 {
    text-align: center;
    font-family: "Quantico", sans-serif;
    font-size: 5rem;
    font-weight: 600;
    margin: 0;
}

.other-page-header h2 {
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}