/* Defining Basics */

:root {
    --background: #e2e8f0;
    --accent: #F0B13E;
    --text:#142544;
}

body {
    font-family: "Space Grotesk", sans-serif;
}

h1, h2, h3 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
}


/* Navbar */ 
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
}

.nav-socials {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin-right: 20px;
}

.navbar .logo img {
    height: 50px;
}

.navbar a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--accent);
}

@media (max-width: 768px) {
    .nav-socials {
        display: none;
    }
}


/* Hero */

.hero {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 8%;
    gap: 30px;
    background: var(--text);
    color: #ffffff;
    overflow: hidden;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-family: "Quantico", sans-serif;
    font-size: 4rem;
    line-height: 0.95;
    font-weight: 600;

    margin: 0 0 1.5rem;
}

.hero-description {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #a8a8a8;

    max-width: 500px;
    margin-bottom: 2rem;
}

.hero-image {
    width: 48%;
    display: flex;
    margin-right: 0;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 4rem 6%;
    }
    .hero h1 {
        font-size: 3.2rem;
    }
    .hero-image {
        width: 100%;
        margin-top: 1rem;
    }
}